<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Book</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Cover -->
<div id="coverPage">

    <div id="book" onclick="openBook()">

        <div class="front">

            <div class="gold-frame"></div>

            <div class="book-content">

                <div class="small-title">
                    Struktur Data
                </div>

                <div class="book-icon">
                    📖
                </div>

                <div class="main-title">
                    Task Book
                </div>

                <div class="subtitle">
                    To Do List
                    <br>
                    Undo • Redo • Search • Edit
                </div>

                <div class="open-btn">
                    Buka Buku
                </div>

            </div>

        </div>

    </div>

</div>

<!-- App -->
<div id="appPage">

    <header>

        <div>

            <button
                class="back-btn"
                onclick="closeBook()">
                ← Tutup Buku
            </button>

            <h1>
                Task Book
            </h1>

        </div>

        <div class="header-buttons">

            <button onclick="undoTask()">
                ↩ Undo
            </button>

            <button onclick="redoTask()">
                ↪ Redo
            </button>

        </div>

    </header>

    <!-- Add Task -->
    <div class="add-section">

        <input
            type="text"
            id="taskInput"
            placeholder="Tulis tugas..."
            onkeydown="if(event.key==='Enter') addTask()"
        >

        <button onclick="addTask()">
            +
        </button>

    </div>

    <!-- Search -->
    <div class="search-section">

        <input
            type="text"
            id="searchInput"
            placeholder="🔍 Cari tugas..."
            onkeyup="loadTasks()"
        >

    </div>

    <!-- Filter -->
    <div class="filter-section">

        <button onclick="setFilter('all')">
            Semua
        </button>

        <button onclick="setFilter('done')">
            Selesai
        </button>

        <button onclick="setFilter('undone')">
            Belum
        </button>

    </div>

    <!-- List -->
    <div class="task-area">

        <ul id="taskList">

        </ul>

        <div id="emptyState">

            <div class="empty-icon">
                ✍️
            </div>

            <p>
                Belum ada tugas
            </p>

        </div>

    </div>

</div>

<script
src="{{ url_for('static', filename='script.js') }}">
</script>

</body>
</html>